@use '../../../styles/global.scss' as *;

.intro {
  flex: 1 1 40%;
  color: white;

  .title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  .titleTwo {
    color: #a259ff;
  }

  .description {
    font-size: 1.1rem;
    line-height: 1.6;
    color: $text-color;
  }
}
