@use '../../../styles/global.scss' as *;

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.modal {
  position: relative;
  max-width: 1200px;
  width: 90%;
  padding: 2.5rem;
  text-align: center;
  border-radius: 16px;
  color: #fff;
  border: 1px solid $text-color;
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  color: #a259ff;
  font-size: 1.8rem;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: $text-color;
  }
}

.modalTitle {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  color: $text-color;
}

.image {
  width: 20%;
  margin-bottom: 1.5rem;
  border-radius: 10px;
  object-fit: cover;
}

.longDescription {
  margin-bottom: 2rem;
  line-height: 1.7;
  font-size: 1rem;
  color: $text-color;
}

.techList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
  margin-bottom: 5rem;
}

.tech {
  padding: 1rem 1rem;
  font-size: 1rem;
  border: 1px solid #a259ff;
  border-radius: 6px;
  color: $text-color;
  letter-spacing: 0.7px;
  font-weight: 700;
}

.buttons {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  flex-wrap: wrap;
  a {
    text-decoration: none;
    outline: none;

    &:focus {
      outline: none;
    }
  }
}

.githubButton,
.liveButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem 1.8rem;
  border-radius: 8px;
  border: 1px solid #a259ff;
  background: transparent;
  color: #a259ff;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  transition: all 0.3s ease;
  box-shadow: none;
  text-decoration: none;

  &:hover {
    color: #fff;
    transform: translateY(-2px);
  }
}
