@use '../../../styles/global.scss' as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.2rem 0;
  z-index: 1000;
  transition: background-color 0.4s ease;
  background: transparent;

  .container {
    width: 90%;
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    font-size: 1.8rem;
    font-weight: 700;
    color: $text-color;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: #a259ff;
    }
  }

  .navigation ul {
    display: flex;
    gap: 2.5rem;
    list-style: none;
  }

  .navigation a {
    position: relative;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.1rem;
    color: $text-color;
    transition: color 0.3s ease;

    &:hover {
      color: #a259ff;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 0%;
      height: 2px;
      background-color: #a259ff;
      transition: width 0.3s ease;
    }

    &:hover::after {
      width: 100%;
    }
  }
}
