@use '../../../styles/global.scss' as *;

.cvContainer {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  a {
    text-decoration: none;
  }

  h3 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }

  .downloadButton {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.6rem 1.2rem;
    border-radius: 6px;
    border: 1px solid #a259ff;
    background: transparent;
    color: #a259ff;
    font-weight: 600;
    transition: all 0.3s ease;

    &:hover {
      color: $text-color;
    }

    svg {
      font-size: 1.2rem;
    }
  }
}
