@use '../../../styles/global.scss' as *;

.contactSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  min-height: 80vh;
  color: $text-color;
  text-align: center;

  .title {
    margin-bottom: 3rem;
    font-size: 2rem;
    span {
      color: #a259ff;
    }
  }

  .contactList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
}
