@use '../../../styles/global.scss' as *;

.about {
  padding: 8rem 0;
  text-align: center;
  color: $text-color;

  .container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
  }

  .title {
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: 700;

    .name {
      color: #a259ff;
    }

    .role {
      color: $text-color;
    }
  }

  .text {
    margin-bottom: 3rem;
    font-size: 1.2rem;
    color: $text-color-secondary;
    line-height: 1.7;
    letter-spacing: 1px;
  }

  .link {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    color: #a259ff;
    text-decoration: none;
    font-weight: 600;
    border: 1px solid #a259ff;
    border-radius: 6px;
    transition: all 0.3s ease;

    &:hover {
      background-color: #a259ff;
      color: $text-color;
    }
  }
}
