@use '../../../styles/global.scss' as *;

.about {
  padding: 6rem 0;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;

  .inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 3rem;
  }
}

@media (max-width: 768px) {
  .inner {
    flex-direction: column;
    text-align: center;
  }
}
