@use "../../../styles/global.scss" as *;

#about {
	padding: 0 20px 20px;
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}
	@media (min-width: 768px) {
		padding: 0 5vw 20px;
	}
	.container {
		box-sizing: border-box;
		margin: 0 auto;
		max-width: 1763px;
		width: 100%;
		background-color: none;
		display: flex;
		flex-direction: column;
		justify-content: center;
		overflow: hidden;

		@media (min-width: 1200px) {
			flex-direction: row;
			height: 100%;
		}

		.wrapperAbout {
			width: 100%;
			display: flex;
			flex-direction: column;
			text-align: center;
			align-items: center;
			padding: 40px;
			@media (min-width: 1200px) {
				width: 50%;
				align-items: flex-start;
				text-align: left;
			}
			h2 {
				width: 100%;
				padding-bottom: 1rem;
				font-family: $font-family-decorative;
				color: $primary-color;
				font-weight: $font-weight-medium;
				font-size: 1rem;
				@media (min-width: 768px) {
					font-size: 1.5rem;
				}
				@media (min-width: 992px) {
					font-size: 2rem;
				}
				@media (min-width: 1200px) {
					font-size: 2.5rem;
				}
			}
			.description {
				color: $text-color-secondary;
				width: 100%;
			}
		}
		.imageProfile {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 1rem;
			@media (min-width: 1200px) {
				width: 50%;
			}
			p {
				color: $primary-color;
				font-size: 0.6rem;
				margin-top: -0.9rem;
				font-weight: $font-weight-medium;
				letter-spacing: 0.7px;
				text-align: center;
				@media (min-width: 768px) {
					font-size: 0.9rem;
				}
				@media (min-width: 992px) {
					font-size: 1.1rem;
					margin-top: -1.8rem;
				}
				@media (min-width: 1200px) {
					font-size: 0.9rem;
					margin-top: -1.2rem;
				}
				@media (min-width: 1500px) {
					margin-top: -1.8rem;
					letter-spacing: 0.5px;
					font-size: 1.25rem;
				}
			}

			img {
				width: 60%;
				height: auto;
				object-fit: contain;
				@media (min-width: 1200px) {
					width: 70%;
				}
			}
		}
		.imagesRow {
			margin-top: 1rem;
			display: flex;
			flex-direction: column;
			align-items: center;
			@media (min-width: 992px) {
				flex-direction: row;
				justify-content: space-between;
				align-items: flex-start;
			}

			img {
				width: 80%;
				padding-top: 1rem;
				object-fit: contain;
				@media (min-width: 992px) {
					width: 45%;
					padding-top: 0;
				}
			}
		}
		.buttonsRow {
			display: none;
			width: 100%;
			justify-content: center;
			align-items: center;
			gap: 12px;
			margin-top: 3rem;
			@media (min-width: 1200px) {
				display: flex;

				button {
					width: 0.9rem;
					height: 0.9rem;
					border-radius: 50%;
					cursor: pointer;
					transition: background-color 0.3s ease;
					&:hover {
						background-color: $primary-color;
					}
				}
			}
		}
	}
}
@use "../../../styles/global.scss" as *;

#about {
	padding: 0 20px 20px;
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}
	@media (min-width: 768px) {
		padding: 0 5vw 20px;
	}
	.container {
		box-sizing: border-box;
		margin: 0 auto;
		max-width: 1763px;
		width: 100%;
		background-color: none;
		display: flex;
		flex-direction: column;
		justify-content: center;
		overflow: hidden;

		@media (min-width: 1200px) {
			flex-direction: row;
			height: 100%;
		}

		.wrapperAbout {
			width: 100%;
			display: flex;
			flex-direction: column;
			text-align: center;
			align-items: center;
			padding: 40px;
			@media (min-width: 1200px) {
				width: 50%;
				align-items: flex-start;
				text-align: left;
			}
			h2 {
				width: 100%;
				padding-bottom: 1rem;
				font-family: $font-family-decorative;
				color: $primary-color;
				font-weight: $font-weight-medium;
				font-size: 1rem;
				@media (min-width: 768px) {
					font-size: 1.5rem;
				}
				@media (min-width: 992px) {
					font-size: 2rem;
				}
				@media (min-width: 1200px) {
					font-size: 2.5rem;
				}
			}
			.description {
				color: $text-color-secondary;
				width: 100%;
			}
		}
		.imageProfile {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 1rem;
			@media (min-width: 1200px) {
				width: 50%;
			}
			p {
				color: $primary-color;
				font-size: 0.6rem;
				margin-top: -0.9rem;
				font-weight: $font-weight-medium;
				letter-spacing: 0.7px;
				text-align: center;
				@media (min-width: 768px) {
					font-size: 0.9rem;
				}
				@media (min-width: 992px) {
					font-size: 1.1rem;
					margin-top: -1.8rem;
				}
				@media (min-width: 1200px) {
					font-size: 0.9rem;
					margin-top: -1.2rem;
				}
				@media (min-width: 1500px) {
					margin-top: -1.8rem;
					letter-spacing: 0.5px;
					font-size: 1.25rem;
				}
			}

			img {
				width: 60%;
				height: auto;
				object-fit: contain;
				@media (min-width: 1200px) {
					width: 70%;
				}
			}
		}
		.imagesRow {
			margin-top: 1rem;
			display: flex;
			flex-direction: column;
			align-items: center;
			@media (min-width: 992px) {
				flex-direction: row;
				justify-content: space-between;
				align-items: flex-start;
			}

			img {
				width: 80%;
				padding-top: 1rem;
				object-fit: contain;
				@media (min-width: 992px) {
					width: 45%;
					padding-top: 0;
				}
			}
		}
		.buttonsRow {
			display: none;
			width: 100%;
			justify-content: center;
			align-items: center;
			gap: 12px;
			margin-top: 3rem;
			@media (min-width: 1200px) {
				display: flex;

				button {
					width: 0.9rem;
					height: 0.9rem;
					border-radius: 50%;
					cursor: pointer;
					transition: background-color 0.3s ease;
					&:hover {
						background-color: $primary-color;
					}
				}
			}
		}
	}
}
